h3
{
padding-left: 10px;
}

#inner
{
display: flex;
flex-wrap: wrap;
border: 1px solid aqua;
width: 283px;
padding: 0.5em;
margin-left: 10px;
margin-bottom: 10px;
}

.fact
{font-style: italic}

ul
{
margin: 0;
padding: 0;
list-style-type:none;
}


img
{
width: 300px;
padding-left: 10px;
margin-bottom: 10px;
}

div
{
width: 320px;
border: 1px solid aqua;
}
